<nav>
  <img id="multipleChoiceButton" alt="MultipleChoiceButton" [src]=multipleChoiceButtonUrl >
  <a routerLink="/">
    <img alt="Logo" id="logo" [src]=logoUrl>
  </a>
  <input class="searchBar" placeholder="Search..." type="search">

  <a href="" id="glass">
    <img alt="MagnifyingGlass" class="buttonWithIcon" [src]=magnifyingGlassUrl>
  </a>
  <a href="">
    <img alt="User" class="buttonWithIcon" [src]=userIconUrl>
  </a>
  <a href="Cart.html" target="_parent">
    <img alt="Cart" class="buttonWithIcon" [src]=cartUrl>
  </a>
  <a class="logInButton" routerLink="/login">Log in</a>
  <a class="signUpButton" href="signUp.html">Sign up</a>
  <a class="signUpButton" routerLink="/addProduct">New Product</a>
  <a class="signUpButton" routerLink="/collections">RUD Collection</a>
</nav>
<router-outlet></router-outlet>
