.wishlistBody{
  justify-content: center;
  font-family: 'IBM Plex Sans Condensed';
  background-color: #464646;
}

.wishlistTitle{
  color: #F0F0F0;
  text-align: center;
  font-size: 3.5vmax;
}

.wishlistCounter{
  color: #F0F0F0;
  text-align: center;
  font-size: 1.5vmax;
}

.wishlistGrid{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.wishlistProductGrid{
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
}

.wishlistButton{
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: auto auto;
  background-color: #EEA10C;
  margin-top: 1%;
  max-width: 300px;
  max-height: 100px;
  border-radius: 10px;
}

.wishlistButton img{
  margin-top: 20px;
  height: 60px;
  width: 60px;
}

.wishlistButton .buttonText{
  margin-top: 20px;
  font-size: 30px;
}

.wishlistProductGrid .wishlistProduct{
  margin-top: 2em;
  margin-left: 5em;
  margin-right: 5em;
  margin-bottom: 0.75em;
  background-color: #C4C4C4CC;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 30% auto;
}

.wishlistProductGrid .wishlistProduct .wishlistProductName{
  background-color: #EEA10C;
  text-align: center;
  font-size: 2em;
  font-weight: bolder;
  grid-column: 1/3;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.wishlistProductGrid .wishlistProduct .wishlistProductDescription{
  text-align: justify;
  margin-top: 2em;
  margin-right: 1em;
  font-size: 1.7em;
  font-weight: lighter;
  color: black;
  grid-column: 1/2;
}

.wishlistProductGrid .wishlistProduct img{
  max-height: 80%;
  max-width: 70%;
  margin-left: 3em;
  margin-top: 2em;
  margin-bottom: 1em;

}

.wishlistProductGrid .wishlistProduct .wishlistProductInfo{

}

.wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection{
  display: grid;
  justify-content: center;
  margin-top: 10%;
  grid-template-columns: 30% auto auto;
}

.wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection .wishlistAddButton{
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: auto auto;
  background-color: black;
  width: 11em;
  height: 3em;
  margin-bottom: 5em;
  margin-top: 2.5em;
  border-radius: 10px;
}
.wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection p{
  color: white;
  font-size: 2em;
}

.wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection img{
  margin-top: 2.2em;
  width: 50px;
  height: 50px;
}


.wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection h3{
  text-align: center;
  font-size: 2.5em;
  margin-top: 0.9em;
  margin-left: 1em;
  margin-right: 1em;
  font-weight: bolder;
  color: black;
}

@media (min-width: 768px) and (max-width: 1200px){
  .wishlistTitle{
    font-size: 3vmax;
  }

  .wishlistCounter{
    font-size: 2.5vmax;
  }

  .wishlistGrid{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  .wishlistButton{
    max-width: 175px;
    max-height: 75px;
    margin-top: 1%;
    border-radius: 10px;
  }


  .wishlistButton img{
    margin-top: 15px;
    height: 3.5em;
    width: 3.5em;
  }

  .wishlistButton .buttonText{
    margin-top: 20px;
    font-size: 20px;
  }

  .wishlistProductGrid .wishlistProduct{
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 0.75em;
    background-color: #C4C4C4CC;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 30% auto;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductName{
    font-size: 1.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductDescription{
    margin-top: 1.5em;
    margin-left: 1em;
    font-size: 1em;
    font-weight: lighter;
    color: black;
    grid-column: 1/2;
  }

  .wishlistProductGrid .wishlistProduct img{
    height: 12em;
    width: 12em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 2em;
    margin-bottom: 1em;

  }

  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection .wishlistAddButton{
    width: 8.5em;
    height: 2.75em;
    margin-bottom: 2.5em;
    margin-top: 2.5em;
    border-radius: 10px;
  }
  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection p{
    color: white;
    margin-top: 0.2em;
    font-size: 1.5em;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection img{
    margin-top: 2em;
    width: 3.5em;
    height: 3.5em;
  }


  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection h3{
    font-size: 2em;
    margin-top: 1.3em;
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media (max-width: 768px){
  .wishlistTitle{
    font-size: 2.5vmax;
  }

  .wishlistCounter{
    font-size: 2vmax;
  }

  .wishlistGrid{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }


  .wishlistButton{
    max-width: 175px;
    max-height: 75px;
    margin-top: 1%;
    border-radius: 10px;
  }


  .wishlistButton img{
    margin-top: 15px;
    height: 3em;
    width: 3em;
  }

  .wishlistButton .buttonText{
    margin-top: 20px;
    font-size: 18px;
  }

  .wishlistProductGrid .wishlistProduct{
    margin-top: 2em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    margin-bottom: 0.75em;
  }


  .wishlistProductGrid .wishlistProduct .wishlistProductName{
    font-size: 1em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductDescription{
    display: none;
    margin-top: 1.5em;
    font-size: 0.8em;
  }

  .wishlistProductGrid .wishlistProduct img{
    max-height: 8em;
    max-width: 7em;
    margin: 1.5em 0.6em;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection{
    display: grid;
    justify-content: center;
    margin-top: 10%;
    grid-template-columns: 30% auto auto;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection .wishlistAddButton{
    width: 6.5em;
    height: 2.5em;
    border-radius: 10px;
  }
  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection p{
    color: white;
    margin-top: 0.5em;
    font-size: 1em;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection img{
    margin-top: 2.3em;

    width: 2.5em;
    height: 2.5em;
  }

  .wishlistProductGrid .wishlistProduct .wishlistProductInfo .wishlistQuantitySection h3{
    font-size: 1.3em;
    margin-top: 2em;
    margin-left: 2.3em;
  }
}
