<b><h2 class="wishlistTitle">Wishlist</h2></b>
<b><h5 class="wishlistCounter">3 products</h5></b>


<div class="wishlistGrid">
  <a href="" class="wishlistButton">
    <img src="https://api.iconify.design/ic/baseline-shopping-cart-checkout.svg">
    <p class="buttonText">Add all to cart</p>
  </a>
  <div class="wishlistProductGrid">

    <div class="wishlistProduct">
      <h2 class="wishlistProductName">Lenovo™ IdeaPad™ 3</h2>
      <img src="http://img.pccomponentes.com/articles/83/837203/1844-lenovo-ideapad-3-15itl6-intel-core-i3-1115g4-8gb-256gb-ssd-156.jpg">
      <div class="wishlistProductInfo">

        <h2 class="wishlistProductDescription">
          Lenovo™ IdeaPad™ 3, el portátil de aprendizaje inteligente definitivo, combina el procesador AMD Ryzen
          con soluciones para el hogar y el trabajo a medida que abordan el entrenamiento ocular, los problemas de
          postura y las distracciones en el hogar, al tiempo que implementa térmicas inteligentes para un
          sistema fresco y silencioso. </h2>



        <div class="wishlistQuantitySection">
          <a href="" class="wishlistAddButton">
            <p class="checkoutText">Add to cart</p>
          </a>
          <h3>628,95 $</h3>
          <a href=""><img src="https://api.iconify.design/ri/delete-bin-6-fill.svg"></a>
        </div>

      </div>

    </div>

    <div class="wishlistProduct">
      <h2 class="wishlistProductName">Lenovo™ IdeaPad™ 3</h2>
      <img src="http://img.pccomponentes.com/articles/83/837203/1844-lenovo-ideapad-3-15itl6-intel-core-i3-1115g4-8gb-256gb-ssd-156.jpg">
      <div class="wishlistProductInfo">

        <h2 class="wishlistProductDescription">
          Lenovo™ IdeaPad™ 3, el portátil de aprendizaje inteligente definitivo, combina el procesador AMD Ryzen
          con soluciones para el hogar y el trabajo a medida que abordan el entrenamiento ocular, los problemas de
          postura y las distracciones en el hogar, al tiempo que implementa térmicas inteligentes para un
          sistema fresco y silencioso. </h2>



        <div class="wishlistQuantitySection">
          <a href="" class="wishlistAddButton">
            <p class="checkoutText">Add to cart</p>
          </a>
          <h3>628,95 $</h3>
          <a href=""><img src="https://api.iconify.design/ri/delete-bin-6-fill.svg"></a>
        </div>

      </div>

    </div>

    <div class="wishlistProduct">
      <h2 class="wishlistProductName">Lenovo™ IdeaPad™ 3</h2>
      <img src="http://img.pccomponentes.com/articles/83/837203/1844-lenovo-ideapad-3-15itl6-intel-core-i3-1115g4-8gb-256gb-ssd-156.jpg">
      <div class="wishlistProductInfo">

        <h2 class="wishlistProductDescription">
          Lenovo™ IdeaPad™ 3, el portátil de aprendizaje inteligente definitivo, combina el procesador AMD Ryzen
          con soluciones para el hogar y el trabajo a medida que abordan el entrenamiento ocular, los problemas de
          postura y las distracciones en el hogar, al tiempo que implementa térmicas inteligentes para un
          sistema fresco y silencioso. </h2>



        <div class="wishlistQuantitySection">
          <a href="" class="wishlistAddButton">
            <p class="checkoutText">Add to cart</p>
          </a>
          <h3>628,95 $</h3>
          <a href=""><img src="https://api.iconify.design/ri/delete-bin-6-fill.svg"></a>
        </div>

      </div>

    </div>

  </div>
</div>
