<div id="clearCart">
  <button (click)="clearCart()">
    Limpiar Carrito
  </button>
</div>
<div id="pageContainer">
  <div id="productList">
  <div *ngFor="let cartProduct of shoppingCart">
    <div id="productContainer">
        <app-cart-product [productId]="cartProduct.id" [quantity]="cartProduct.count"></app-cart-product>
        <div id="buttonSection">
          <div id="deleteSection">
        <button id="deleteProductButton" (click)="delete(cartProduct.id)">
          Eliminar producto
        </button>
          </div>
          <div id="quantitySection">
        <button (click)="decrement(cartProduct.id)">
          -
        </button>
        <h1>{{cartProduct.count}}</h1>
        <button (click)="incrementElement(cartProduct.id, cartProduct.price)">
          +
        </button>
          </div>
        </div>
  </div>

  </div>
    <div id="totalSection2" *ngIf="!hidden">
      <h1>PRECIO TOTAL</h1>
      <h2>{{total}}€</h2>
      <button routerLink="/checkout">
        Proceder a pagar
      </button>
    </div>
  </div>

  <div id="totalSection" *ngIf="!hidden">
    <h1>PRECIO TOTAL</h1>
    <h2>{{total}}€</h2>
    <button routerLink="/checkout">
      Proceder a pagar
    </button>
  </div>

</div>
