#clearCart{
  display: flex;
  margin: 0.5% auto;
  justify-content: center;
  font-size: 25px;
}


#pageContainer{
  display: flex;
  margin: 0.5% auto;
  justify-content: center;
  flex-wrap: nowrap;
  max-width: 70%;
}


#productContainer{
  display: flex;
  flex-flow: column;
  background-color: #A4A4A4;
  max-width: 70%;
  margin: 10%;
  border-radius: 10px;
}


#buttonSection{
  margin: 2%;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

#deleteSection{
  display: flex;
  align-items: flex-start;
}

#quantitySection{
  gap: 20%;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin: 0 auto;
}


button{
  background-color: black;
  color: white;
}

#deleteProductButton{
  font-size: 20px;
}
