<div id="collectionHolder">
  <h1>Seleccione la colección a mostrar:</h1>
  <div id="collectionSelectionButtonHolder"
       *ngFor="let coll of collections">
    <button class="collectionSelectionButton"
            (click)="collectionButtonHandler(coll)">
      {{coll}}
    </button>
  </div>
</div>

<div id="elementContainer"
     *ngFor="let element of collection"
     [ngSwitch]="currentCollection">

  <!-- Information shown when displaying products -->
  <div class="element" *ngSwitchCase="'products'">
    <div class="elementInfo">
      <p>Nombre: {{element.name}}</p>
      <p>Identificador: {{element.id}}</p>
    </div>
    <img src="{{ element.imageUrl }}">
    <div class="elementButtonHolder">
      <button class="elementActionButton"
              (click)="modifyElement(element.id)">
        Editar
      </button>
      <button class="elementActionButton"
              (click)="deleteElement(element.id)">
        Eliminar
      </button>
    </div>
  </div>

  <!-- Information shown when displaying users -->
  <div class="element" *ngSwitchCase="'users'">
    <div class="elementInfo">
      <p>Nombre: {{element.name}}</p>
      <p>Identificador: {{element.uid}}</p>
    </div>

    <div class="elementButtonHolder" *ngSwitchCase="'users'">
      <button class="elementActionButton"
              (click)="modifyElement(element.uid)">
        Editar
      </button>
      <button class="elementActionButton"
              (click)="deleteElement(element.uid)">
        Eliminar
      </button>
    </div>
  </div>

  <!-- Information shown when displaying users -->
  <div class="element" *ngSwitchCase="'tickets'">
    <div class="elementInfo">
      <p>Nombre: {{element.name}}</p>
      <p>Sujeto: {{element.subject}}</p>
    </div>

    <div class="elementButtonHolder" *ngSwitchCase="'tickets'">
      <button class="elementActionButton"
              (click)="openTicketViewerDialog(element.id)">
        Ver
      </button>
      <button class="elementActionButton"
              (click)="deleteElement(element.id)">
        Eliminar
      </button>
    </div>
  </div>
</div>
