h1 {

  color: #FFFFFF;
  font-size: 3.5em;
  font-weight: 500;
  text-align: center;
  margin: 2% auto 2% auto;

}

p{
  display: table;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin: 0 auto 2% auto;
  padding: 1%;
  background-color: #c94d4d;
}

label {
  margin: 0 auto 0.3% 25.3%;
  font-size: 16px;
  font-weight: bold;
}


#form-style {

  background-color: #c4c4c4;
  padding: 2%;
  margin-bottom: 5%;
}

#file {

  margin: 0 auto auto 25.1%;
  font-size: 16px;
}

#flex-style {
  display: flex;
  margin: 2% 50% auto auto;
  gap: 70%;
}

.example-form {

  display: flex;
  justify-content: center;
  flex-direction: column;

}

.example-full-width {
  margin: 0 auto 0.5em auto;
  min-width: 50%;
  background-color: #c4c4c4;
  font-weight: bold;
  font-size: 16px;
}

.error-text {
  font-size: 14px;
}

.mat-custom {
  background-color: #cc5c00;
  color: #fff;
}

@media (max-width: 768px){

  h1 {

    font-size: 2em;
    margin-bottom: 5%;
    margin-top: 5%;

  }

  #form-style {

    margin-bottom: 0;
  }

  #file {

    margin-bottom: 5%;

  }
}

@media (min-width: 768px) and (max-width: 1200px){

  h1 {

    font-size: 2.5em;
    margin-bottom: 5%;
    margin-top: 5%;

  }

  #form-style {

    margin-bottom: 0;

  }

  #file {

    margin-bottom: 3%;

  }

}
