#welcomingButtons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 2em;
}

#welcomingButtons .welcomingButton {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border-radius: 10px;
  font-size: 2em;
  padding: 0.75em;
  margin: 0 0.5em;
  background-color: #C4C4C4;
}

#welcomingButtons .welcomingButton img {
  width: 1em;
  vertical-align: center;
}

#welcomingButtons .welcomingButton u {
  font-weight: bold;
  color: black;
}

#welcomingButtons .welcomingButton:hover {
  filter: brightness(1.15);
}

@media (max-width: 768px){
  #welcomingButtons {
    flex-flow: column nowrap;
    align-items: center;
  }

  #welcomingButtons .welcomingButton {
    justify-content: center;
    width: 10em;
    margin: 0.5em 0;
  }
}

@media (max-width: 425px){
  #welcomingButtons {
    flex-flow: column nowrap;
    align-items: center;
  }

  #welcomingButtons .welcomingButton {
    justify-content: center;
    width: 70%;
    margin: 0.5em 0;
  }
}

