<div id="welcomingButtons">
  <a class="welcomingButton"
    routerLink="/category" 
    (click)="setCategory('discount')">
    <img src="https://api.iconify.design/ant-design/tag-filled.svg">
    <u>Ofertas</u>
  </a>
  <a class="welcomingButton"
    routerLink="/category" 
    (click)="setCategory('promotion')">
    <img src="https://api.iconify.design/ep/present.svg">
    <u>Promociones</u>
  </a>
  <a class="welcomingButton"
    routerLink="/category" 
    (click)="setCategory('clothing')">
    <img src="https://api.iconify.design/icon-park/men-jacket.svg">
    <u>Moda</u>
  </a>
</div>