<h1> ¡Modifique su producto en la plataforma Web!</h1>
<div id="form-style">
  <form class="example-form" [formGroup]="currentProductForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre del producto</mat-label>
      <input type="text" matInput formControlName="name" placeholder="Nombre del producto">
      <mat-error *ngIf="currentProductForm.get('name')!.errors?.['required']" class="error-text">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="currentProductForm.get('name')!.errors?.['minlength']" class="error-text">
        Debe contener más de <strong>6 caracteres</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Nombre currentProductForm</mat-label>
      <input type="text" matInput formControlName="extendedName" placeholder="Nombre extendido">
      <mat-error *ngIf="currentProductForm.get('extendedName')!.errors?.['required']" class="error-text">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
      <mat-error *ngIf="currentProductForm.get('extendedName')!.errors?.['minlength']" class="error-text">
        Debe contener más de <strong>12 caracteres</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descripción</mat-label>
      <input type="text" matInput formControlName="description" placeholder="Descripción">
      <mat-error *ngIf="currentProductForm.get('description')!.errors?.['minlength']" class="error-text">
        Debe contener más de <strong>12 caracteres</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Precio</mat-label>
      <input type="number" matInput formControlName="price" placeholder="Precio">
      <mat-error *ngIf="currentProductForm.get('price')!.errors?.['required']" class="error-text">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Precio sin impuestos</mat-label>
      <input type="number" matInput formControlName="priceWithoutTax" placeholder="Precio sin impuestos">
      <mat-error *ngIf="currentProductForm.get('priceWithoutTax')!.errors?.['required']" class="error-text">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Marca</mat-label>
      <input type="text" matInput formControlName="brand" placeholder="Marca">
      <mat-error *ngIf="currentProductForm.get('brand')!.errors?.['required']" class="error-text">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Categoría</mat-label>
      <select matNativeControl required formControlName="category">
        <option label="Escoge una categoría"></option>
        <option value="headphones">Auriculares</option>
        <option value="laptops">Portátiles</option>
        <option value="furniture">Muebles</option>
        <option value="sports">Deporte</option>
        <option value="phones">Móviles</option>
        <option value="games">Juegos</option>
        <option value="clothing">Ropa</option>
      </select>
      <mat-error *ngIf="currentProductForm.get('category')!.errors?.['required']" class="error-text">
        Este campo es <strong>obligatorio</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Descuento</mat-label>
      <input type="number" matInput formControlName="discount" placeholder="Descuento">
    </mat-form-field>

    <label for="file">Imagen del producto</label>
    <input type="file" id="file"  (change)="uploadProductImage($event)" placeholder="Imagen">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>URL de la imagen</mat-label>
      <input type="text" matInput formControlName="imageUrl" readonly placeholder="URL de la imagen">
    </mat-form-field>

    <div id="flex-style">
      <div>
        <button mat-fab color="custom" type="reset" aria-label="Borrar todos los campos" (click)="clearForm()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>

      <div>
        <button mat-fab color="custom" type="submit" [disabled]="!currentProductForm.valid" aria-label="Guardar producto">
          <mat-icon>save</mat-icon>
        </button>
      </div>
    </div>
  </form>
</div>

