<div id="pageContainer">
  <h1>Formulario de modificación de productos</h1>
  <form [formGroup]="currentProductForm" (ngSubmit)="onSubmit()">
    <button type="button"
            id="clearFormButton"
            (click)="clearForm()">
      <span class="material-icons">cleaning_services</span>
      <u>Limpiar datos</u>
    </button>

    <!-- Product Name -->
    <input type="text"
           class="form-control"
           placeholder="Nombre del producto"
           formControlName="name">
    <div *ngIf="currentProductForm.get('name')!.invalid &&
              (currentProductForm.get('name')!.dirty ||
               currentProductForm.get('name')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('name')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>

    <!-- Extended Name -->
    <input type="text"
           class="form-control"
           placeholder="Nombre extendido"
           formControlName="extendedName">

    <!-- Description -->
    <input type="text"
           class="form-control"
           placeholder="Descripción"
           formControlName="description">

    <!-- Price -->
    <input type="number"
           class="form-control"
           placeholder="Precio"
           formControlName="price">
    <div *ngIf="currentProductForm.get('price')!.invalid &&
              (currentProductForm.get('price')!.dirty ||
               currentProductForm.get('price')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('price')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>

    <!-- PriceWithoutTax -->
    <input type="number"
           class="form-control"
           placeholder="Precio sin impuestos"
           formControlName="priceWithoutTax">
    <div *ngIf="currentProductForm.get('priceWithoutTax')!.invalid &&
              (currentProductForm.get('priceWithoutTax')!.dirty ||
               currentProductForm.get('priceWithoutTax')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('priceWithoutTax')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>

    <!-- Brand -->
    <input type="text"
           class="form-control"
           placeholder="Marca"
           formControlName="brand">
    <div *ngIf="currentProductForm.get('brand')!.invalid &&
              (currentProductForm.get('brand')!.dirty ||
               currentProductForm.get('brand')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('brand')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>

    <!-- imageUrl -->
    <input type="file" id="file" (change)="uploadProductImage($event)">
    <input type="text"
           class="form-control"
           placeholder="Url de la Imagen"
           formControlName="imageUrl">
    <div *ngIf="currentProductForm.get('imageUrl')!.invalid &&
              (currentProductForm.get('imageUrl')!.dirty ||
               currentProductForm.get('imageUrl')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('imageUrl')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>

    <!-- category -->
    <select name="category" formControlName="category">
      <option value="headphones">Auriculares</option>
      <option value="laptops">Portátiles</option>
      <option value="furniture">Muebles</option>
      <option value="sports">Deporte</option>
      <option value="phones">Móviles</option>
      <option value="games">Juegos</option>
      <option value="clothing">Ropa</option>
    </select>
    <div *ngIf="currentProductForm.get('category')!.invalid &&
              (currentProductForm.get('category')!.dirty ||
               currentProductForm.get('category')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('category')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>

    <!-- discount -->
    <input type="number"
           class="form-control"
           placeholder="Descuento"
           formControlName="discount">
    <div *ngIf="currentProductForm.get('discount')!.invalid &&
              (currentProductForm.get('discount')!.dirty ||
               currentProductForm.get('discount')!.touched)"
         class="errorMessage">
      <p *ngIf="currentProductForm.get('discount')!.errors?.['required']">
        Campo Obligatorio
      </p>
    </div>
    <button type="submit"
            [disabled]="!currentProductForm.valid">
      Modificar Producto
    </button>
  </form>
</div>


