<div id="checkoutContainer">
  <h1>ELIGE EL MÉTODO DE PAGO</h1>
  <div id="buttonContainer">
  <div>
    <div id="metodoBizum">
      <button id="bizum" routerLink="/bizum">
        <span class="material-icons">
        paid
        </span>
        BIZUM
      </button>
    </div>

    <div id="metodoTarjeta">
      <button id="tarjetaCredito" routerLink="/not-available">
        <span class="material-icons">
          credit_card
        </span>
        TARJETA DE CRÉDITO/DÉBITO
      </button>
    </div>
  </div>
    <div>
    <div id="metodoTransferencia">
      <button id="transferencia" routerLink="/not-available">
        <span class="material-icons">
        account_balance
        </span>
        TRANSFERENCIA BANCARIA
      </button>
    </div>

    <div id="metodoPaypal">
       <button id="paypal" routerLink="/not-available">
          <span class="material-icons">
          currency_exchange
          </span>
         PAYPAL
       </button>
    </div>
    </div>
  </div>
</div>
