<div id="pageContainer">
  <h1>Formulario de modificación de usuarios</h1>
  <form [formGroup]="currentUserForm" (ngSubmit)="onSubmit()">

    <div id="avatar-image">
      <div>
        <img width="160" height="160" [src]="databaseElement.photoURL" />
      </div>
      <div *ngIf="hidden">
        <input type="file" id="files" (change)="uploadProfilePicture($event)" class="hidden">
        <label for="files">Seleccionar nueva imagen</label>
      </div>
      <!-- <a [href]="downloadURL | async" *ngIf="downloadURL | async" > Descargar Imagen</a> -->
    </div>

    <div id="data">
      <!-- Username -->
      <label for="name"> Nombre de usuario </label>
      <input type="text"
             class="form-control"
             placeholder="Nombre de usuario"
             formControlName="name"
             [readonly]="true">

      <!-- Email -->
      <label for="email"> Correo electrónico </label>
      <input type="text"
             class="form-control"
             placeholder="Correo electrónico"
             formControlName="email"
             [readonly]="true">

      <!-- Profile Pic URL -->
      <label for="image_url"> URL de la imagen </label>
      <input type="text"
             class="form-control"
             placeholder="Imagen no disponible"
             formControlName="image_url"
             [readonly]="true">
    </div>

    <button type="submit"> Modificar Usuario </button>
  </form>
</div>
