<div id="pageContainer">
  <h1>Formulario de modificación de usuarios</h1>
  <form [formGroup]="currentUserForm" (ngSubmit)="onSubmit()">

    <div id="avatar-image">
      <div>
        <img width="160" height="160" [src]="profileUrl" />
      </div>
      <input type="file" id="files" (change)="uploadFile($event)" class="hidden">
      <label for="files">Seleccionar nueva imagen</label>
      <a [href]="downloadURL | async" *ngIf="downloadURL | async" > Descargar Imagen</a>
    </div>

    <div id="data">
      <!-- Product Name -->
      <label for="name"> Nombre de usuario </label>
      <input type="text"
             class="form-control"
             placeholder="Nombre de usuario"
             formControlName="name"
             [readonly]="true">

      <!-- Extended Name -->
      <label for="email"> Correo electrónico </label>
      <input type="text"
             class="form-control"
             placeholder="Correo electrónico"
             formControlName="email"
             [readonly]="true">
    </div>

    <button type="submit"
            [disabled]="!currentUserForm.valid">
      Modificar Usuario
    </button>
  </form>



</div>



