<h1>Enviar un Ticket</h1>
<form [formGroup]="ticket" (ngSubmit)="onSubmit()">
  <button type="submit" disabled style="display: none" aria-hidden="true"></button>
  <img id="ticketPicture" src="https://api.iconify.design/icon-park-outline/ticket.svg" height="150" width="150">

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Nombre</mat-label>
    <input type="text" matInput formControlName="name" placeholder="Nombre">
    <mat-error *ngIf="ticket.get('name')!.errors?.['required']" class="error-text">
      Este campo es <strong>obligatorio</strong>
    </mat-error>
    <mat-error *ngIf="ticket.get('name')!.errors?.['minlength']" class="error-text">
      Debe contener más de <strong>2 caracteres</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Correo electrónico</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Email">
    <mat-error *ngIf="ticket.get('email')!.errors?.['required']" class="error-text">
      Este campo es <strong>obligatorio</strong>
    </mat-error>
    <mat-error *ngIf="ticket.get('email')!.errors?.['email']" class="error-text">
      Introduzca un email <strong>válido</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Motivo de la consulta</mat-label>
    <input type="text" matInput formControlName="reason" placeholder="Asunto">
    <mat-error *ngIf="ticket.get('reason')!.errors?.['required']" class="error-text">
      Este campo es <strong>obligatorio</strong>
    </mat-error>
    <mat-error *ngIf="ticket.get('reason')!.errors?.['minlength']" class="error-text">
      Debe contener más de <strong>5 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="ticket.get('reason')!.errors?.['maxlength']" class="error-text">
      No debe contener más de <strong>50 caracteres</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Mensaje</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              formControlName="messageText"
              placeholder="Mensaje"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="1"
              cdkAutosizeMaxRows="10"></textarea>
    <mat-error *ngIf="ticket.get('messageText')!.errors?.['required']" class="error-text">
      Este campo es <strong>obligatorio</strong>
    </mat-error>
    <mat-error *ngIf="ticket.get('messageText')!.errors?.['minlength']" class="error-text">
      Debe contener más de <strong>10 caracteres</strong>
    </mat-error>
    <mat-error *ngIf="ticket.get('messageText')!.errors?.['maxlength']" class="error-text">
      No debe contener más de <strong>500 caracteres</strong>
    </mat-error>
  </mat-form-field>

  <button type="submit"
          [disabled]="!ticket.valid">
    Enviar
  </button>
</form>
