#productContainer {
  display: flex;
  flex-flow: row wrap;
  border: 5px black;
  justify-content: space-around;
}

.product {
  background-color: #C4C4C4;
  border: solid 2px black;
}

.iteratingContainer {
  margin: 0;
}