<div id="productContainer">
  <ng-container *ngFor="let product of products">
    <ng-container *ngIf="product.price >= minPrice && product.price <= maxPrice">
    <div *ngIf="product.category === whatToLoad">
      <div class="product">
        <a routerLink="/product" (click)="setId(product.id)">
          <app-product [productId]="product.id"></app-product>
        </a>
        <button (click)="addToCart(product.id, product.price)">
          <span class="material-icons">add_shopping_cart</span>
          Añadir al carrito
        </button>
      </div>
    </div>

    <div *ngIf="whatToLoad === 'all'">
      <div class="product">
        <a routerLink="/product" (click)="setId(product.id)">
          <app-product [productId]="product.id"></app-product>
        </a>
        <button (click)="addToCart(product.id, product.price)">
          <span class="material-icons">add_shopping_cart</span>
          Añadir al carrito
        </button>
      </div>
    </div>

    <div *ngIf="whatToLoad === 'discount' &&
                product.discount > 10">
      <div class="product">
        <a routerLink="/product" (click)="setId(product.id)">
          <app-product [productId]="product.id"></app-product>
        </a>
        <button (click)="addToCart(product.id, product.price)">
          <span class="material-icons">add_shopping_cart</span>
          Añadir al carrito
        </button>
      </div>
    </div>
    
    <div *ngIf="whatToLoad === 'promotion' &&
                product.discount > 30">
      <div class="product">
        <a routerLink="/product" (click)="setId(product.id)">
          <app-product [productId]="product.id"></app-product>
        </a>
        <button (click)="addToCart(product.id, product.price)">
          <span class="material-icons">add_shopping_cart</span>
          Añadir al carrito
        </button>
      </div>
    </div>
  </ng-container>
  </ng-container>
</div>